# Project exclude paths
/.gradle/
/module-batch/build/
/module-batch/build/classes/java/main/
/module-common/build/
/module-common/build/classes/java/main/
/module-web/build/
/module-web/build/classes/java/main/